<ul class="nav flex-column" *ngIf="collection$ |async as collection">
  <li class="nav-item d-flex" *ngFor="let channel of collection">
    <a class="nav-link text-light fs-4 chan" routerLink="messages/{{channel.id}}">{{channel.title}}</a>
    <ng-container *ngIf="channel.id==1; then thenBlock else elseBlock"></ng-container>

    <ng-template #thenBlock>
    </ng-template>

    <ng-template #elseBlock>
      <app-icon-new class="icon" routerLink="channels/edit/{{channel.id}}"></app-icon-new>
      <app-icon-delete class="icon" (click)="onDeleteChannel(channel.id)"></app-icon-delete>
    </ng-template>

  </li>
</ul>
<a class="nav-link text-light fs-4 btn" routerLink="channels/add">+</a>
