.active {
  font-weight: bolder;
  font-size: 3em;
}

.icon {
  padding-top: 15px;
  padding-left: 10px;
}

a {
  width: 170px;
}

.btn {
  cursor: pointer;
  margin-top: 30px;
  margin-left: 35px;
}

.chan {
  padding-left: 10px;
}

.chan:hover {
  background-color: var(--app-primary)
}
